<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>いろいろ計算ツール</title>
</head>
<body>
    <h1>いろいろ計算ツール</h1>

    <div class="menu">
        <p><a href="{% url 'work06_reiwa' %}">令和何年ですかツール</a></p>
        <p><a href="{% url 'work06_bmi' %}">BMI 計算してくれるくん</a></p>
        <p><a href="{% url 'work06_savings' %}">貯金 計算してくれるくん</a></p>
        <p><a href="{% url 'work06_calc' %}">四則演算 計算してくれるくん</a></p>
    </div>
</body>
</html>