<!-- work10/templates/registration/login.html -->
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link rel="stylesheet" href="{% static 'work10/login_signup.css' %}">
</head>
<body>
    <h1>ログイン</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">ログイン</button>
    </form>
    <p>まだアカウントを持っていない方は <a href="{% url 'signup' %}">新規登録</a></p>
    <p><a href="{% url 'work10:todo_list' %}">戻る</a></p>
</body>
</html>